.avatar {
  object-fit: cover;
  border-radius: 50%;
}

.details {
  display: flex;
  gap: 20px;
}

.detailtext {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detailtitle {
  color: gray;
  font-weight: bold;
}

.detailvalue {
  font-weight: 500;
}

.text {
}
